@model  List<Obilet.Entities.Concrete.BusJourney.BusJourneyData>
@{

    ViewBag.Title = "FindJourney";
}

<div class="p-3 bg-primary">
    <h5 class="my-0 font-weight-bold text-white">@Model.Select(x => x.OriginLocation).FirstOrDefault() - @Model.Select(x => x.DestinationLocation).FirstOrDefault()</h5>
</div>

@foreach (var item in Model)
{

    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <p style="font-size:10px">KALKIŞ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; VARIŞ</p>
                    <p class="font-weight-bold"> @item.Journey.Departure.Value.ToString("HH:mm") <i class="fa fa-long-arrow-right"></i> @item.Journey.Arrival.Value.ToString("HH:mm")</p>

                </div>
                <div class="col-3">
                    <small class="btn btn-danger" type="button" name="name">@item.Journey.OriginalPrice TL</small>

                </div>
            </div>
            <p class="card-text">@item.Journey.Origin - @item.Journey.Destination </p>

        </div>
    </div>
}




